# Auto detect text files and perform LF normalization
* text=auto
*.js linguist-generated=true
*.asm linguist-generated=true
*.html linguist-generated=true
*.py linguist-generated=true
*.cpp linguist-generated=true
*.h linguist-generated=true
*.d linguist-generated=true
*.mk linguist-generated=true
